@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
}

.container {
  display: flex;
  height: 100vh;
}

.column:first-child {
  flex: 0 0 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.column:last-child {
  flex: 0 0 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  overflow: hidden;
}

.column-details {
  background: linear-gradient(to bottom, #dce6a4 0%, #e0e5d3 50%, #dbdfe2 100%);
  height: 100%;
  display: flex;
  flex-direction: column; /* Ensures items are stacked vertically */
  justify-content: center;
  align-items: center;
}

.column-text {
  text-align: center;
  max-width: 60%;
}

.column-text h1 {
  color: #242a2d;
  font-size: 3rem;
  line-height: 1.4;
}

.column-text h1 span {
  background-color: #dffd02;
  padding: 5px;
}

.column-text p {
  color: #242a2d;
  font-size: 1.5rem;
  line-height: 1.4;
}

.column-form {
  background: #000;
  padding: 50px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
}

form {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

form label {
  display: block;
  margin-bottom: 5px;
  color: #fff;
}

form input, form textarea {
  margin-bottom: 10px;
  height: 40px;
  border: 1px solid #769a6e;
  border-radius: 25px;
  width: 100%;
  box-sizing: border-box;
}

form button {
  background-color: #dffd02;
  color: #242a2d;
  padding: 14px 26px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  margin: 0 auto;
  display: block;
}

form button:hover {
  background-color: #780000;
}

.snowflake {
  position: absolute;
  top: -10px;
  pointer-events: none;
  z-index: 9999;
  font-size: 20px;
  color: white;
  user-select: none;
  opacity: 0.8;
  animation: fall linear infinite;
}

@keyframes fall {
  0% {
      transform: translateY(-10px) rotate(0deg);
  }
  100% {
      transform: translateY(100vh) rotate(360deg);
  }
}

.flip-card {
  background-color: transparent;
  width: 260px;
  height: 260px;
  perspective: 1000px;
  margin: 0 auto;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-front img, .flip-card-back img {
  width: 100%;
  height: 100%;
  border-radius: 25px;
}

.flip-card-back {
  color: white;
  transform: rotateY(180deg);
}

/* Santa hat positioning */
.santa-hat {
  position: absolute;
  top: -95px;
  transform: translateX(-80%);
  z-index: 10;
}
